
/* Start Header Page */

.header {
  background: url(../imges/headerBlue.svg) no-repeat left top;
  background-size: contain;
  min-height: 700px;
  position: relative;
  @media (max-width: 991px) {
    min-height: 600px;
  }
  @media (max-width: 767px) {
    min-height: 480px;
  }
  .container {
    .row {
      padding-top:$space4;
      .boxi {
          position: relative;
          transform: translateY(100px);
          @media (max-width: 991px) {
            top: 0px;
            transform: translateY(0px);
            margin-top: 0px;
            margin-bottom: 20px;
          }
          @media (max-width: 767px) {
            margin-top: 0px;
            margin-bottom: 20px;
            padding: 0 10px;
          }
          .cont-box {
            p, span.tp {
              color: $primary3;
              font-size: 48px;
              font-weight: bold;
              margin:0;
              padding:0;
              display: inline;
              @media (max-width: 991px) {
                font-size: 34px;
              }
              @media (max-width: 767px) {
                font-size: 22px;
              }
            }
            span.tp {
              animation: typing 1s infinite ease;
              padding-bottom: 3px;
            }
            span.tx {
              color: $primary3;
              font-weight: bold;
              font-size: 48px;
              margin:0;
              padding:0;
              @media (max-width: 991px) {
                font-size: 34px;
              }
              @media (max-width: 767px) {
                font-size: 22px;
              }
            }
          }
          p {
            line-height: 2;
            max-width: 500px;
          }
          p.mee {
            color: $primary1;
            font-size: 18px;
            margin-bottom: 40px;
            letter-spacing: 10px;
            @media (max-width: 991px) {
              margin-bottom: 20px;
            }
            @media (max-width: 767px) {
              letter-spacing: 6px;
              margin-bottom: 0px;
              font-size: 16px;
            }
          }
          .btnn {
            margin-top: 50px;
            @media (max-width: 991px) {
              margin-top: 30px;
            }
            @media (max-width: 767px) {
              margin-top: 0px;
            }
            a.butn{
              width: 150px;
              border: none;
              border-radius: 50px;
              overflow: hidden;
              text-decoration: none;
              text-align: center;
              cursor: pointer;
              padding: 15px 10px;
              margin-right: 10px;
              margin-bottom: 20px;
              background-color: $primary3;
              color: $base;
              letter-spacing: 1px;
              font-weight: bold;
              box-shadow: 1px 1px 30px 0px #c9cbd5;
              &.cv {
                background-color: $primary1;
                color: $base;
                margin-left: 10px;
                @media (max-width: 767px) {
                  margin-left: 0px;
                }
              }
            }
          }
        }
      }
      .imgee {
        transform: translateY(100px);
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: 0;
        text-align: center;
        // @media (max-width: 991px) {
        //   transform: translateY(30px);
        // }
        @media (max-width: 991px) {
          top: 0px;
          transform: translateY(0px);
          text-align: left;
          margin-bottom: 0px;
        }
        img {
          max-width: 600px;
          margin: auto;
          width: 100%;
          height: 100%;
          @media (max-width: 991px) {
            max-width: 300px;
          }
        }
    }
    a.arrow {
      position: absolute;
      display: block;
      bottom: 0px;
      left: 0;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      color: $primary1;
      animation: move 1s infinite ease-in-out;
      @media (max-width: 991px) {
        position: absolute;
        padding-bottom: 20px;
        left: 5%;
      }
      @media (max-width: 767px) {
        padding-bottom: 0px;
        position: relative;
        display: none;
      }
      i {
        border: 1px solid $subColor;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        line-height: 45px;
        font-size: 26px;
        cursor: pointer;
      }
    }
  }
}


/* End Header Page */


@keyframes move {
  
  0% {
    bottom: 0;
  }
  
  50% {
    bottom: 10px;
  }
  
  
  100% {
    bottom: 0px;
  }
  
}










