// Start Header

.header.marg
  .container
    .row 
      .col-xl-7.col-lg-8
        .boxi
          .cont-box
            span.tx I'm&nbsp;
            p#type(data-text="Ahmed Elbohy. #a Front-end developer.")
            span.tp |
          p.mee Design By Ahmed Elbohy
          p Welcome to my Portfolio. We will see on this site some information about me, the services I can provide, my projects and my CV. I am glad you came to my own site and I will be very happy if you see my latest projects so let's go 
          .btnn
            a(class="butn hvr-bounce-to-right" href="#about") Learn More 
            a(class="cv butn hvr-bounce-to-bottom" href="https://drive.google.com/file/d/1bVIUMtRBbQ2v5Lytha3piekKWP_W8h5y/view?usp=sharing" target='_blank')  Download CV
      .col-xl-5.col-lg-4
        .imgee
          img(src="imges/manSitting.svg", alt="")
    a.arrow(href="#about")  #[i.fa.fa-angle-double-down#about]

// End Header