// $main-color: #6AD044;
// $primary1: #498dfd;
// $primary2: #adf2f2;
$primary1: #f9636b;
$primary2: #243b64;
$primary3: #af204d;
$subColor: #ffef85;
$base: #fff;
$gray-color: #ccc;
$red-color: #ff3232;
// $main-bgcolor:linear-gradient(90deg, $primary1 , $primary2);
$main-bgcolor:linear-gradient(180deg,$primary1 0%,$primary3 100%);
$sub-bgcolor:linear-gradient(106deg,$subColor 0%,$primary1 100%);
$primary1-text: #fff;
$primary2-text: #fff;

$header-font:Libre Baskerville;


$border-radius1: 15px;
$border-radius2: 30px;
$space1: 15px;
$space2: 30px;
$space3: 60px;
$space4: 120px;
$space5: 80px; //

$float-right: right;
$float-left: left;





